body {
    background: url("https://wallpaperstock.net/peony-wallpapers_39438_2560x1600.jpg");
    background-size: 100%;
}

div.board {
    text-align: center;
    font-size: 25px;
    border: 2px solid #98669b;
    border-radius: 15px;
    padding-bottom: 10px;
    color: #724472;
}

div.column {
    height: 400px;
    width: 200px;
    float: left;
    text-align: center;
    margin: 20px 10px;
    border: 1px solid #f1dcf2;
    border-radius: 15px;
    background: #f1dcf2;
    font-size: 12px;
    overflow: auto;
}

.column-title {
    color: #98669b;
    font-size: 20px;
}

.card-list {
    text-align: left; */
    border: 1px solid #f4e8f4;
    border-radius: 15px;
    background-color: #f4e8f4;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    color: black;
}

button.btn-delete {
    background-color: #98669b;
    border-radius: 5px;
    float: top;
    margin: 5px;
    font-size: 14px;
}

button.column-add-card {
    float: right;
    font-size: 12px;
    border-radius: 5px;
    margin: 5px;
}

button.btn-delete-card {
    background-color: #a777b7;
    border-radius: 5px;
    font-size: 13px;
}

